phase_1/*.o
phase_1/*.out
phase_1/.*.*.swp
phase_1/.*.*.swo
phase_1/*.exe
phase_1/*.txt
phase_1/*.csv
phase_2/*.o
phase_2/*.out
phase_2/.*.*.swp
phase_2/.*.*.swo
phase_2/*.exe
phase_2/*.txt
phase_2/*.csv
.DS_STORE
